body{ 
    background-color: #849d8f;
    color: white;
    font-family: "Roboto", serif;
    line-height: 22px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
}

.thebiggest_text {
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    max-width: 675px;
    position: absolute;
    left: calc(50% - 319px);
    top: 320px;
    z-index: 3;
}

.Up {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    display: flex;
    
}

.Up a {
    color: white;
}

.Up li {
    list-style-type: none;
    margin-left: 30px;
}

.up_setka {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search {
    border-radius: 50% ;
    border: none;
    background-color: #a0b5a9;
    height: 32px;
    width: 32px;
    background-size: cover;
}

.input {
    border-radius: 16px 16px;
    border: none;
    background-color: #a0b5a9;
    height: 32px;
    width: 92px;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

.input svg {
    width: 20px;
    height: 20px;
}

.input label {
    color: white;
    line-height: 16px;
    font-weight: 500;
    vertical-align: top;
    padding-left: 4px;
}

.cart {
    border-radius: 16px 16px ;
    border: none;
    background-color: #a0b5a9;
    height: 32px;
    width: 92px;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    margin-left: -3px;
}

.cart label {
    color: white;
    padding-left: 4px;
}

.cart svg {
    width: 20px;
    height: 20px;
}

.red_oval {
    border-radius: 35px 35px;
    background: linear-gradient(#f26843 , #e74b36);
    height: 70px;
    z-index: 4;
    position: absolute;
    top: 500px;
    right: 600px;
    border: none;
    box-shadow: 0px 2px 5px #ac1000;
    padding: 15px 40px;
}

.red_oval_second {
    position: relative;
    left: 370px;
    top: 35px;
    border-radius: 35px 35px;
    background-color: #ed603f;
    height: 44px;
    width: 165px;
    font-size: 18px;
    border: none;
    box-shadow: 0px 2px 5px #ac1000;
    background: linear-gradient(#f26843 , #e74b36);
}

.davaite_oba {
    font-size: 32px;
    color: white;
    z-index: 4;
    left: 30px;
}

.want {
    color: white;
}

.creams {
    background: radial-gradient(#ffffff 0% , #849d8f 70%);
}

.creams img:first-child {
    position: absolute;
    left: 29%;
    top: 58px;
    z-index: 1;
}

.creams2 {
    position: relative;
    left: 50%;
    z-index: 0;
    top: 30px;
}

.m_ch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 27px;
}

.malina {
    background-size: cover;
    width: 540px;
    height: 210px;
    border-radius: 18px;
    background-image: url("./../img/malina.jpg");
    background-repeat: no-repeat;
    padding: 20px 17px ;
}

.chocolate {
    background-size: cover;
    width: 540px;
    height: 210px;
    border-radius: 18px;
    background-image: url("./../img/chocolandnyi.jpg");
    background-repeat: no-repeat;
    padding: 20px 17px ;
    z-index: 5;
}

.more {
    font-size: 35px;
    top: 5px;
    margin-top: 10px;
}

.Glais {
    background-size: cover;
    width: 1200px;
    height: 330px;
    border-radius: 18px;
    background-image: url("./../img/wafer\ fon.jpg");
    background-repeat: no-repeat;
}

.tw_m {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ten_ways {
    background-size: cover;
    width: 557px;
    height: 230px;
    border-radius: 18px;
    background-image: url("./../img/strawberry\ fon.jpg");
    background-repeat: no-repeat;
}

.mail {
    background-image: url("./../img/mail_fon.jpg");
    width: 557px;
    height: 210px;
    background-size: cover;
    border-radius: 18px;
    background-repeat: no-repeat;
    padding: 9px;
    position: relative;
}

.words {
    color: #848483;
    display: block;
    width: 518px;
    height: 140px;
    border-radius: 23px;
    padding: 34px 20px 37px;
    margin: 0;
    background-color: #f8f7f4;
}

.price-list {
    margin: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.price-list__item {
    width: 267px;
    margin: 14px;
    position: relative;

}

.kg {
    font-size: 32px;
}

.hit1 {
    position: relative;
    top: 57px;
    left: 12px;
}

.price {
    line-height: 45px;
    font-size: 50px;
    font-weight: 900; 
    position: absolute; 
    bottom: 40px; 
    left: 0px; 
    display: inline-block;
    padding: 0;
}

.glais_words {
    color: black;
    padding-left: 20px;
    padding-top: 15px;
}

.glais_words_one {
    display: flex;
    flex-direction: row;
}

.gl {
    font-size: 16px;
    padding: 0 30px 0 7px;
}

.glais_words h3 {
    font-size: 24px;
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 10px;
}

.blog {
    color: #323232;
    padding-left: 20px;
    padding-top: 15px;
}

.fruit_words {
    font-size: 24px;
    width: 300px;
    text-decoration: underline;
}

.down_setka {
    margin: 15px 0;
    min-height: 104px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social {
    display: flex;
    flex-direction: row;
}

.down_academy {
    margin: 5px;
    font-size: 12px;
    line-height: 18px;
}

.down_academy span {
    border-bottom: 1px solid #c2cec7;
}

.down {
    display: flex;
    flex-direction: row;
}

.down li {
    list-style-type: none;
}

.down a {
    color: white;
    font-size: 13px;
    line-height: 18px;
    border-bottom: 1px solid #c2cec7;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mode {
    position: absolute;
    right: 160px;
    top: 50px;
    max-width: 170px;
}

.mode p:nth-child(2) {
    font-weight: 600 ;
    font-size: 22px;
    line-height: 24px;
}

.mode p {
    margin: 5px 0 ;
}

.nav_left {
    display: flex;
    flex-direction: row;
}

.badges {
    border-radius: 50% ;
    border: 3px solid #c2cec7;
    background-color: #e6ebe9;
    height: 40px;
    width: 40px;
    background-size: cover;
    margin-right: 10px;
}

.map {
    background-image: url("./../img/map.jpg");
    max-height: 431px;
    max-width: 1200px;
    margin-top: 40px;
}

.svg {
    display: flex;
    flex-direction: row;
    max-height: 50px;
}

.pin {
    position: absolute;
    left: 268px;
    top: 175px;
}

.bgg {
    font-size: 17px;
}

.connection {
    color: #000000;
    position: absolute;
    right: 25px;
    top: 100px;
    display: flex;
    flex-direction: column;
    line-height: 24px;
    background-color: white;
    width: 225px;
    height: 256px;
    border-radius: 9px;
    padding: 30px 53px 21px 25px;
}

.connection p {
    margin: 0%;
}

.red_oval_third {
    border-radius: 35px 35px;
    background-color: #ed603f;
    height: 45px;
    width: 250px;
    font-size: 18px;
    border: none;
    box-shadow: 0px 2px 5px #ac1000;
    background: linear-gradient(#f26843 , #e74b36);
}

.heart_svg {
    position: relative;
    height: 20px;
    width: 14px;
    right: 334px;
    top: 15px;
}

input[type ="text"] {
    font-size: 18px;
    line-height: 24px;
    padding: 8px;
    width: 346px;
    position: absolute;
    top: 140px;
    left: 30px;
    border: 1px solid #d3d3d2;
    border-radius: 3px;
}

input[type ="text"] ::placeholder {
    color: #d3d3d2;
}

.red_oval_fourth {
    position: relative;
    left: 400px;
    bottom: 80px;
    border-radius: 35px 35px;
    background-color: #ed603f;
    height: 40px;
    width: 135px;
    font-size: 18px;
    border: none;
    box-shadow: 0px 2px 5px #ac1000;
    background: linear-gradient(#f26843 , #e74b36);
}

.knopka {
    font-size: 18px;
    color: #ffffff;
}

.fruit_words a {
    color: black;
}

.window_one {
    background: #f8f7f4;
    border-radius: 3%;
    position: absolute;
    padding: 23px 17px 23px 17px;
    left: 783px;
    top: 43px;
    z-index: 5;
    max-width: 345px;
    max-height: 85px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4)
}

input[type ="search"] {
    z-index: 5;
    font-size: 18px;
    line-height: 24px;
    padding: 8px;
    width: 306px;
    height: 44px;
    border: 1px solid #d3d3d2;
    border-radius: 3px;
}

.window_two {
    background: #f8f7f4;
    padding: 20px;
    border-radius: 3%;
    position: absolute;
    top: 43px;
    right: 270px;
    z-index: 5;
    max-width: 240px;
    max-height: 190px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4)
}

.red_oval_fifth {
    border-radius: 35px 35px;
    background-color: #ed603f;
    height: 45px;
    width: 100px;
    font-size: 18px;
    border: none;
    box-shadow: 0px 2px 5px #ac1000;
    background: linear-gradient(#f26843 , #e74b36);
    left: 820px;
    bottom: 70px;
    z-index: 5;
} 

.red_oval_fifth a {
    color: #ffffff;
}

input[type ="email"] {
    z-index: 5;
    font-size: 18px;
    line-height: 24px;
    padding: 8px;
    width: 224px;
    height: 33px;
    border: 1px solid #d3d3d2;
    border-radius: 3px;
    margin-bottom: 20px;
}

input[type ="email"] ::placeholder {
    color: #c2c2c2;
}

input[type ="password"] {
    z-index: 5;
    font-size: 18px;
    line-height: 24px;
    padding: 8px;
    width: 224px;
    height: 33px;
    border: 1px solid #d3d3d2;
    border-radius: 3px;
    margin-bottom: 20px;
} 

.fogot {
    font-size: 13px;
    text-decoration: underline;
    z-index: 5;
    position: absolute;
    width: 120px;
    right: 20px;
    bottom: 20px;
}

.fogot a {
    color: #323232;
}

.row {
    display: flex;
    flex-direction: row;
}

.window_three {
    background: #f8f7f4;
    border-radius: 3%;
    position: absolute;
    z-index: 5;
    top: 50px;
    left: 353px;
    outline: 20px solid rgba(0, 0, 0, 0);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4)
}

.ice_types {
    font-size: 14px;
    z-index: 5;
    font-weight: 400;
}

.ice_types li {
    padding:  5px 20px;
}


.ice_types li:hover {
    background-color: #fbded7;
}
.ice_types li:active {
    background-color: #f6b5a5;
}
.ice_types .current {
    background-color: #d07058;
}

.ice_types a {
    color: #323232;
}

.News {
    z-index: 5;
    color: #323232;
    margin: 0px ;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.two_kg {
    font-size: 18px;
}

.menu_line {
    position: absolute;
    z-index: 5;
    top: 40px;
    left: 7px;
}

.ice_types ul {
    padding-left: 0;
    list-style-type: none;
}

.window_four {
    position: absolute;
    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    z-index: 5;
    padding: 20px;
    max-width: 423px;
    max-height: 417px;
    top: 100px;
    border-radius: 5px;
    min-height: 400px;
    left: 360px;
    top: 29px;
}

.shar {
    border-radius: 50%;
    color: #ffffff;
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: row;
}

.input[type ="textt"] {
    min-width: 427px;
    height: 156px;
    border-radius: 3%;
    z-index: 5;
    font-size: 18px;
    line-height: 24px;
}

.red_oval_sixth {
    border-radius: 35px 35px;
    background-color: #ed603f;
    height: 46px;
    width: 142px;
    font-size: 18px;
    border: none;
    box-shadow: 0px 2px 5px #ac1000;
    background: linear-gradient(#f26843 , #e74b36);
    z-index: 5;
    margin: 0 0 0 280px;
    
}

.window_four a {
    color: #ffffff;
}

.h_two {
    color: #323232;
    font-weight: 500;
    margin: 0 0 25px;
}

.contacts {
    position: relative;
}

section .norn {
    position: relative;
    top: initial;
    left: initial;
    width: 235px;
    height: initial;
    margin-bottom: 20px;
}

.contacts textarea {
    padding: 8px;
    border-radius: 3% 3%;
    border: 1px solid;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

.sxg {
    position: absolute;
    width: 25px;
    height: 25px;
    color: #000000;
    left: 430px;
    top: 6px;
}
